.hidden {
    display: none;
}

#home {
    top:0;
    left:0;
    position: absolute;
    background-color: rgb(233, 212, 189);
    height: 100vh;
    width: 100vw;
}

#diet {
    top:0;
    left:0;
    position: absolute;
    background-color:rgb(222, 245, 196);
    height: 100vh;
    width: 100vw;
}

#exercise {
    top:0;
    left:0;
    position: absolute;
    background-color:rgb(203, 231, 254);
    height: 100vh;
    width: 100vw;
}

#exercise1 {
    top:0;
    left:0;
    position: absolute;
    background-color:rgb(203, 231, 254);
    height: 100vh;
    width: 100vw;
}

#exercises {
    top:0;
    left:0;
    position: absolute;
    background-color:rgb(203, 231, 254);
    height: 100vh;
    width: 100vw;
}

#selfcareIdea {
    top:0;
    left:0;
    position: absolute;
    background-color:rgb(249, 219, 219);
    height: 100vh;
    width: 100vw;
}

#selfcare {
    top:0;
    left:0;
    position: absolute;
    background-color:rgb(249, 219, 219);
    height: 100vh;
    width: 100vw;
}

#selfcareHelp {
    top:0;
    left:0;
    position: absolute;
    background-color:rgb(249, 219, 219);
    height: 100vh;
    width: 100vw;
}

#selfcareBreathe {
    top:0;
    left:0;
    position: absolute;
    background-color:rgb(249, 219, 219);
    height: 100vh;
    width: 100vw;
}

.menu {
    background-color:rgba(161, 204, 204, 0);
    position: absolute;
    top:10px;
    left:10px;
    border: 0;
}

.profile {
    background-color:rgb(169, 223, 223, 0);
    position: absolute;
    top:10px;
    right:10px;
    border: 2px;
}

.title {
    color:rgb(0, 0, 0);
    text-align: center;
    position:absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    outline: 2px;
}

#greetingHome {
    background-color: rgba(134, 111, 87);
    top:15%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    padding:15px;
    border-radius: 10%;
    color:rgb(255, 255, 255);
    width: 35%;
}

#greetingDiet {
    background-color: rgba(110, 148, 102);
    top:15%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    padding:15px;
    border-radius: 10%;
    color:rgb(255, 255, 255);
    width: 35%;
}

#greetingExercise {
    background-color: rgba(161, 202, 237);
    top:15%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    padding:15px;
    border-radius: 10%;
    color:rgb(255, 255, 255);
    width: 35%;
}

#greetingSelfcare {
    background-color: rgba(215, 122, 122);
    top:15%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    padding:15px;
    border-radius: 10%;
    color:rgb(255, 255, 255);
    width: 35%;
}

#reccomendations {
    background-color: rgba(134, 111, 87);
    bottom: 7%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    color:rgb(255, 255, 255);
    width: 40%;
    height: 48%;
    border-radius: 10%;
}

#dietDIV {
    background-color: rgba(110, 148, 102);
    position: absolute;
    bottom:25px;
    left:32%;
    color:rgb(255, 255, 255);
    border-radius: 30%;
    text-align: center;
    width: 34%;
    height: 50%;
}

.sectionNavB {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(134, 111, 87);
}

.sectionNavG {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(110, 148, 102);
}

.sectionNavBl {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(161, 202, 237);
}

.sectionNavR {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(215, 122, 122);
}

.s1 {
    background-color:rgb(169, 223, 223, 0);
    position: absolute;
    bottom:10px;
    left:10px;
    border: 0; 
}

.s2 {
    background-color:rgb(169, 223, 223, 0);
    position: absolute;
    bottom:10px;
    left: 50%;
    border: 0; 
}

.s3 {
    background-color:rgb(169, 223, 223, 0);
    position: absolute;
    bottom:10px;
    right:10px;
    border: 0; 
}

.exerciseButtons {
    background-color: rgba(161, 202, 237);
    border-radius: 8%;
    border:0;
    text-align: center;
    position: absolute;
    height: 10%;
    width: 200px;
    color: white;
    left: 50%;
    transform: translateX(-50%);
}

.selfcareButtons {
    background-color: rgba(215, 122, 122);
    border-radius: 10%;
    border:0;
    text-align: center;
    position: absolute;
    height: 10%;
    width: 200px;
    color: white;
    left: 50%;
    transform: translateX(-50%);
}

.menuButtons {
    background-color: rgba(233, 212, 189, 0.200);
    border:0;
    text-align: center;
    position: absolute;
    height: 11%;
    width: 80%;
    color: white;
    left: 50%;
    transform: translateX(-50%);
}

.helplineButtons {
    background-color: rgba(215, 122, 122);
    border-radius: 3%;
    text-align: center;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    color: white;
    width:60%;
}
